html {
  box-sizing: border-box;
  font-family: Georgia;
  line-height: 1.5
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "header header"
  "figure1 figure2";
}

h1 {
  width: 14rem;
  grid-column: 2;
  z-index: 1;
}

.logo {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}
header {
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-area: header;
}

header img {
  grid-column: 1/ -1;
  grid-row: 1/ -1;
}
